<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
</head>
<body>
<div id="app">

    <input v-model="userrname" id="namehere">
    <button @click="addUser">add user</button>

    <table>
        <thead>
            <th>Name</th>
            <th>Menu</th>
        </thead>
        <tbody>
            <tr v-for="(user, index) in users">
            <td>{{users[index]}}</td>
                <td>
                    <button @click="deleteUser(index)">Delete user</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
var app = new Vue({
    el: '#app',
    data: {
        userrname: "",
        users: []
    },
    methods: {
        deleteUser: function (index) {
        this.users.splice(index, 1)
        },
        addUser: function () {
        this.users.push(this.userrname)
        }
    }

})
</script>
</body>
</html>